.row {
  margin-top: 30px;
  height: 100vh;
}
.navbar{
  height: 100px;
  background-color: white;
  color: white;
}
.navbar-brand {
  height: 100px;
  padding: 0px;

}
.navbar-nav li a {
  color: black;
  line-height: 100px;
  height: 95px;
  padding-top: 0;
  left: 160px;
}
.foodme-scroll{
  height: 30px;
}


ul.nav li a, ul.nav li a:visited {
  background-color: white!important;
}

ul.nav li a:hover, ul.nav li a:active {
  background-color: white !important;
}

ul.nav li.active a {
  background-color: white !important;
}
.brand {
  height: 100%;
  padding: 15px;
  width: auto;
  position: absolute;
  left: 65px;
}
#link-btn{
  width: 100%;
}
#foodme-mockup{
  background-image: url('Foodme.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 80%;
  -webkit-transition-duration: .8s; /* Safari */
  transition-duration: .8s;
}
#foodme-mockup:hover {
  background-image: url('food-me-shot.png');
  -webkit-transition-duration: .8s; /* Safari */
  transition-duration: .8s;
  height: 80%;
}
#picstory-mockup{
  background-image: url('Picstory.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 80%;
  -webkit-transition-duration: .8s; /* Safari */
  transition-duration: .8s;
}
#picstory-mockup:hover {
  background-image: url('picstory-shot.png');
  -webkit-transition-duration: .8s; /* Safari */
  transition-duration: .8s;
  height: 80%;
}

span {
  color: red;
  font-weight: bolder;
}
button {
  margin: 0 auto;
  width: 100%;
}
.github{
  height:95px;
  width: 95px;
  position: absolute;
  right: 160px;
  padding: 10px;
}
.phone-number{
  color: black;
  height:95px;
  text-align: center;
  width: 120px;
  position: absolute;
  right: 340px;
  padding: 10px;
}
.inner-text{
  position: absolute;
  bottom: 0;
}
.linkedIn{
  height:95px;
  width: 95px;
  position: absolute;
  right: 70px;
  padding: 10px;
}
.text-box {
  padding-top: 20px;
}
.row{
  height: 500px;
}

.navbar-toggle {
  height: auto;
  width: auto;
}
nav {
  position: fixed;
  z-index: 100;
}
.headshot {
  height: 60%;
  width: 60%;
  margin: 5px;
}
#headshot-box{
  margin-top: 15px;
  float: right;
  left: 40px;
}
.col-md-12 {
  height: 100vh;
}

.container {
  height: 100vh;
}
.jumbotron{
  margin-top: 50px;
  background-image:url('watercolor.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.opaque {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
.opaque-header{
  background-color: rgba(255, 255, 255, 0.8);
}
.h1-header{
  width:70%;
  margin: 0px;
}
.social-footer{
  height:10em;
  width: 100%;

}
/* ============================================================
PARRALAX PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}
/* ============================================================
SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
section.module.parallax h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  line-height: 600px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
section.module.parallax-1 {
  background-image: url("foodme-code.png");
}
section.module.parallax-2 {
  background-image: url("picstory-code.png");
}
section.module.parallax-3 {
  background-image: url("../img/demo/_small/3.jpg");
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax h1 {
    font-size: 96px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 160px;
  }
}
